{% extends 'base.html' %}

{% block content %}

<h2> Task title: {{ task.title }}</h2>
<p>{{ name }}</p>

<p style="max-width: 800px; word-wrap: break-word; width: 800px;">{{ task.content }}</p>
<form method="POST">
    <br/>
    {{ comment_form.content.label(class="form-label") }}
    {{ comment_form.content(class="form-control") }}
    <br/>
    {{ comment_form.submit(class="btn btn-secondary") }}

    {{ comment_form.csrf_token }}
    {{ comment_form.hidden_tag() }}

     <!-- If there is an error in the form validation -->
    {% if comment_form.errors %}
        <ul class="errors">
            {% for error in comment_form.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</form>

<br><br>

{%for u in comments%}
<tbody style="margin-left: 50px;">
  <tr>
    <td colspan="2" style="max-width: 500px;"> <a href="{{url_for('dash_bp.comment', id=u.id)}}">{{u.content}}</a></td>
    <br>
</tr>
</tbody>
{%endfor%}

{%endblock%}

