{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <h2>{{ task.title }}</h2>
    <p>{{ name }}</p>

    <div class="card mb-4">
        <div class="card-body">
            <p class="card-text" style="max-width: 800px; word-wrap: break-word;">{{ task.content }}</p>
        </div>
    </div>

    <div class="status mb-4">
        <h4>Status:</h4>

        {% if task.status == 0 %}
            <h4 class="badge badge-warning" style="color:red;">Not Started</h4>
           
        {% elif task.status == 1 %}
            <h3 class="badge badge-info" style="color:yellow;">In Progress</h3>
            
        {% elif task.status == 2 %}
            <h3 class="badge badge-success" style="color:green;">Completed</h3>
            
        {% endif %}

        <form method="POST" class="mb-4">
            <button type="submit" name="start" value="1" class="btn btn-success">Start</button>
            <button type="submit" name="complete" value="2" class="btn btn-primary">Complete</button>
            <button type="submit" name="incomplete" value="0" class="btn btn-danger">Mark Incomplete</button>
            {{ comment_form.csrf_token }}
        </form>
    </div>

    <form method="POST" class="mb-4">
        <div class="form-group">
            {{ comment_form.content.label(class="form-label") }}
            {{ comment_form.content(class="form-control") }}

            <!-- If there is an error in the form validation -->
            {% if comment_form.errors %}
                <ul class="errors">
                    {% for error in comment_form.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        {{ comment_form.submit(class="btn btn-secondary") }}
        {{ comment_form.csrf_token }}
        {{ comment_form.hidden_tag() }}
    </form>

    <div class="comments">
        {% for comment in comments %}
            <div class="card mb-2">
                <div class="card-body">
                    <h5 class="card-title">{{ get_name(comment.poster_id) }}</h5> 
                    <p class="card-text">{{ comment.content }}</p>
                    <p class="card-text"><small class="text-muted">{{ comment.date_posted.strftime('%Y-%m-%d %H:%M:%S') }}</small></p>
                    <small><a href="{{url_for('dash_bp.comment', id=comment.id)}}">reply</a></small>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
