{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    {% if current_user.is_authenticated %}
        <h2>Welcome, {{ current_user.name }}.</h2> <br><br>
        <h3>Post a Task</h3>
        <form method="POST" class="mb-4">
            {{ task_form.hidden_tag() }}
            
            <div class="form-group">
                {{ task_form.title.label(class="form-label") }}
                {{ task_form.title(class="form-control") }}
            </div>

            <div class="form-group">
                {{ task_form.content.label(class="form-label") }}
                {{ task_form.content(class="form-control") }}
            </div>

            {{ task_form.submit(class="btn btn-secondary") }}
        </form>

        <div class="list-group">
            {% for task in tasks %}
                <a href="{{ url_for('dash_bp.group_task', id=task.id)}}" class="list-group-item list-group-item-action">
                    <h4 class="mb-1">{{ task.title }}</h4>
                    
                    {% if task.status == 0 %}
                    <span class="badge badge-warning" style="color: red;">Not Started</span>
                {% elif task.status == 1 %}
                    <span class="badge badge-info" style="color: orange;">In Progress</span>
                {% elif task.status == 2 %}
                    <span class="badge badge-success" style="color: green;">Completed</span>
                {% endif %}
                    <p class="mb-1" style="max-width: 500px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ task.content }}</p>
                        &nbsp;| Posted by {{ get_poster_name(task.poster_id) }} on {{ task.date_posted.strftime('%Y-%m-%d %H:%M:%S') }}</small>
                </a>
            {% endfor %}
        </div>

</div>

{% else %}
    Please <a href="{{ url_for('auth_bp.login') }}">Login</a> <br>
    or <a href="{{ url_for('auth_bp.new_user') }}">Register</a>
{% endif %}

{% endblock %}
