{%extends 'base.html'%}

{% block content %}



{% if current_user.is_authenticated %}
  Hi {{ current_user.name }}!


{%else%}

<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
    <h1>Login</h1>
    <form method="POST">
		{{ form.hidden_tag() }}

		{{ form.username.label(class="form-label") }}
		{{ form.username(class="form-control") }}
		<br/>
		{{ form.password.label(class="form-label") }}
		{{ form.password(class="form-control") }}
		<br/>

		{{ form.submit(class="btn btn-secondary") }}

    </form>
</div>

{%endif%}




{%endblock%}